figcaption.WCT {
	position: absolute !important;
	font-family: Meiryo
	, メイリオ
	, '游ゴシック'
	, 'Yu Gothic'
	, YuGothic !important;
	line-height: 1.1em !important;
}

@media screen and (max-width: 750px) {
	.WCT_IMAGE_PARENT {
		font-size: calc(100vw/750) !important;
	}
}