figcaption.WCT {
	position: absolute !important;
	font-family: Meiryo
	, メイリオ
	, '游ゴシック'
	, 'Yu Gothic'
	, YuGothic !important;
	line-height: normal !important;
}

.WCT_IMAGE_PARENT {
	font-size: 1px;
}

@media screen and (max-width: 1100px) {
	.WCT_IMAGE_PARENT {
		font-size: calc(100vw/1100) !important;
	}
}